/*============================================================
TABLE OF CONTENTS
==============================================================
1) Global CSS


2) SECTION CSS
	2.1) intro section

	2.2) new garment section

	2.3) sign up section
		2.3.1 intital sign up
		2.3.2 final sign up

		*/
/*
==============================================================
1)		GLOBAL CSS
==============================================================
*/

@font-face
{
	src:url(../fonts/FreightBigLight.otf);
	font-family: f-large;
}

@font-face
{
	src:url(../fonts/FreightDisplayMedium.otf);
	font-family: f-medium;
}

@font-face
{
	src:url(../fonts/AUTHENTIC-Sans.otf);
	font-family: sans;
}

*
{
	margin: 0;
	padding: 0;
}

html, body {
	/*height: 100%;
	width: 100vw;*/
	overflow-x: hidden;
}

body
{
	background-color: white;
}

html
{
	color:black;
	background-color:  white;
}

nav
{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
}

.left-nav
{
	position: absolute;
	top:80px;
	right: 20vw;
}

h1
{
	font-family: f-large;
	font-size: 200pt;
	font-weight: normal;
	text-align: center;
	color:black;
}

h2
{
	font-family: f-large;
	font-size: 70pt;
	font-weight: normal;
	text-align: center;
	color:white;
}


p
{
	font-family: sans;
	font-weight: normal;
}

.col {
	flex: 1;
}

.col-large {
	flex: 600px;
}


@media only screen and (max-width: 1050px) {
	h1
	{

		font-size: 70pt;
	}
}


@media only screen and (max-width: 600px) {
	h2
	{
		
		font-size: 50pt;
		
	}
}

@media only screen and (max-width: 400px) {
	h2
	{

		font-size: 27pt;
		
	}

	.initial-signup-h2
	{
		font-size: 40pt;
	}
}


/*
==============================================================
2)		SECTION CSS
==============================================================
*/

/*
2.1 intro block -----------------------------------------
*/

.intro
{
	width: 1000px;
	display: block;
	margin:0 auto;
}

.intro:first-of-type
{
	margin-top: 190px;
}

.intro-block
{
	position: relative;
	margin: 60pt 0;
}

.img-center
{
	display: block;
	margin: 0 auto;
	width: 500px
}

.text-disc-intro
{
	background-color: white;
	padding: 20px;
	width: 250pt;
	position: absolute;
}

.text-left
{
	top:40%;
	left: 0;
}

.text-right
{
	top:40%;
	right: 0;
}

.text-disc-intro > p1
{
	font-family: f-medium;
	font-size: 25pt;
}

.text-disc-intro > p
{
	color:black;
	color:black;
	padding-top: 15px;
	line-height: 150%;
	font-size: 17px;
}

@media only screen and (max-width: 1050px) {
	.intro
	{
		width: 100vw;
	}

	.intro:first-of-type
	{
		margin-top: 150px;
	}

	.intro-block:first-of-type
	{
		margin: 15pt 0;
	}

	.text-left
	{
		font-size: 20pt;
		position: initial;
		margin: auto;
		display: block;
		text-align: center;
		width: 70vw;
	}

	.text-right
	{
		font-size: 20pt;
		position: initial;
		display: block;
		text-align: center;
		margin: auto;
		width: 70vw;
	}

	.img-center
	{
		display: block;
		margin: 0 auto;
		width: 70vw;
	}
}

@media only screen and (max-width: 600px) {
	.intro-block
	{
		margin: 40pt 0;
	}

	.img-center
	{
		display: block;
		margin: 0 auto;
		width: 80vw;
	}

	.text-left
	{
		font-size: 16pt;
		
	}

	.text-right
	{
		font-size: 16pt;
		
	}
}

@media only screen and (max-width: 400px) {
	.intro-block
	{
		margin: 30pt 0;
	}

	.text-left
	{
		font-size: 14pt;
		
	}

	.text-right
	{
		font-size: 14pt;
		
	}

	.text-disc-intro > p1
	{
		font-size: 18pt;
	}

	.text-disc-intro > p
	{
		font-size: 14px;
	}
}

/*
2.2 new-garments -----------------------------------------
*/

h3
{
	font-family: f-large;
	font-weight: normal;
	text-align: center;
	display: none;
}

.new-h3-garments-container
{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
	padding-bottom: 5pt;
}

.new-garments-section
{
	background-color: black;
}

.new-garment-block
{
	background-color: black;
	display: block;
	margin: auto;
}

.desktop-new-garment
{
	display: block;
	margin:auto;
	height: 400pt;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.mobile-new-garment
{
	display: none;
}

@media only screen and (max-width: 1050px) {
	.desktop-new-garment
	{
		display: block;
		margin:auto;
		height: 40vh;
	}
}

@media only screen and (max-width: 700px) {
	.desktop-new-garment
	{
		display: none;
	}

	h3
	{
		display: block;
		font-size: 36pt;
		align-self: center;
		background: black;
		width: 100%;
		padding: 12pt 0;
		color:white;
	}


	.new-h3-garments-container
	{
		display: flex;
		justify-content: center;
	}
	

	.main-gallery
	{
		position: relative;
	}

	.mobile-new-garment
	{
		display: block;
		margin: auto;
		width: 100vw;
		padding: 60pt 0;
	}
}

/*
2.3 sign-up-----------------------------------------
*/

/*
2.3.1 initial sign up ======================
*/

.initial-signup
{
	background-color: black;
	margin:0;
	padding:0;
	margin-bottom: 60pt;
	padding: 60px;
}

.email-block
{
	display: block;
	margin: 20pt auto;
	width: 675px;	
}

.email-inline
{
	width: 500px;
	text-align: left;
	border-radius: 0;
	border: none;
	font-size: 16pt;
	padding: 5pt 10pt;
	font-family: f-small;
	display: inline;
	margin-right: -5pt;
}

.email-submit-inline
{
	width: 150px;
	text-align: center;
	border-radius: 0;
	padding: 0;
	border: none;
	font-size: 16pt;
	padding: 5pt 0;
	background-color:grey;
	color:black;
	font-family: f-small;
	display: inline;
	margin: 0;
}

@media only screen and (max-width: 1050px) {
	.email-block
	{
		width: 525px;
	}

	.email-inline
	{
		width: 400px;
		font-size: 14pt;
	}

	.email-submit-inline
	{
		width: 100px;
		font-size: 14pt;
	}
}

@media only screen and (max-width: 600px) {
	.initial-signup
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	.email-block
	{
		width: 70vw;
	}

	.email-inline
	{
		width: 70vw;
		font-size: 12pt;
		line-height: 140%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.email-submit-inline
	{
		width: 70vw;
		font-size: 12pt;
		line-height: 140%;
	}

	.initial-signup
	{
		padding: 40px;
	}
	



}



/*
2.3.2 final sign up ======================
*/

.sign-up
{
	background-color: black;
}

.flex-grid {
	display: flex;
}

.col > p
{
	font-size: 16px;
	padding: 0 30vw;
}


.top-row
{
	padding-top: 150px;
}

.middle-row
{
	margin-top: 30pt;
	padding: 0 60pt;
	text-align:center;
}

.bottom-row
{
	margin-top: 30pt;
	padding: 0 60pt;
	padding-bottom: 200px;
	text-align:center;
}

input:focus {
	outline:none;
}

.email-submit
{
	width: 500px;
	text-align: center;
	border-radius: 0;
	padding: 0;
	border: none;
	font-size: 16pt;
	padding: 5pt 0;
	font-family: f-small;
}

.swap-submit
{
	width: 500px;
	text-align: center;
	border-radius: 0;
	padding: 0;
	border: none;
	font-size: 16pt;
	padding: 5pt 0;
	margin-top: 5pt;
	background: #122122;
	color:white;
	font-family: f-small;
}

.thank-you-text
{
	display:none;
	font-size: 20pt;

}

@media only screen and (max-width: 1050px) {


	.col > p
	{
		font-size: 14px;
		padding: 0 20vw;
	}

	.email-submit
	{
		width: 400px;
		font-size: 14pt;
	}

	.swap-submit
	{
		width: 400px;
		font-size: 14pt;
	}
}

@media only screen and (max-width: 600px) {

	.col > p
	{
		font-size: 14px;
		padding: 0 10vw;
	}

	.email-submit
	{
		width: 70vw;
		font-size: 12pt;
		line-height: 140%;
	}

	.swap-submit
	{
		width: 70vw;
		font-size: 12pt;
		line-height: 140%;
	}
	
	.top-row
	{
		padding-top: 30vh;
	}

	.middle-row
	{
		padding: 0 5vw;
	}

	.bottom-row
	{
		padding: 0 20pt;
		padding-bottom: 25vh;
	}
}






